<app-layout-header-sidebar-contents>

    <div class='sidebar'>
        <p class="contents-title">座席コード 一覧</p>
        <mat-action-list>
            <button mat-list-item (click)="save()"> 更新 </button>
        </mat-action-list>
    </div>

    <div class='contents'>
        <form [formGroup]="seatsForm">
            <div formArrayName="seats">
                <mat-list>
                    <mat-list-item *ngFor="let seat of seats.controls; let i = index">
                        <mat-form-field>
                            <input matInput type="text" class="seat-id" [formControlName]="i">
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </div>
        </form>
    </div>

</app-layout-header-sidebar-contents>